<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyrulecastle.mapper.InfoMapper">

    <resultMap id="BaseResultMap" type="com.hyrulecastle.entity.Info">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="description" property="description" />
        <result column="role" property="role" />
        <result column="target" property="target" />
        <result column="image" property="image" />
    </resultMap>

    <sql id="Base_Column_List">
        id, no, name, phone, email, description, role, target, image
    </sql>

    <select id="myPagingQuery" resultType="com.hyrulecastle.entity.Info">
        select *
        from info ${ew.customSqlSegment}
        order by CHAR_LENGTH(target) DESC
    </select>
</mapper>
