<!DOCTYPE html>
<html>
 <head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>图⽚本地预览示例</title>
 </head>
 <body>
 <h3>阿宝哥：图⽚本地预览示例</h3>
 <input type="file" accept="image/*" onchange="loadFile(event)" />
 <img id="previewContainer" />
 <script>
 const loadFile = function (event) {

 const reader = new FileReader();
 reader.readAsDataURL(event.target.files[0]);
 reader.onload = function (e) {
    console.log("4324",e.target.result);
    const output = document.querySelector("#previewContainer");
    output.src = reader.result;
 };
}
 </script>
 </body>
</html>